<!DOCTYPE html>
<html>
  <head>
    <title>Abouttt Me</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static',filename='script/about.js')}}"
    ></script>
  </head>
  <body>
    <header>
      <h1>About Me</h1>
    </header>
    <main>
      <section>
        <h2>Introduction</h2>
        <p>
          Hello there! I'm a Computer Science Engineering (CSE) student
          currently pursuing my B.Tech degree. I have developed a Flask web
          application that allows users to scrape photos of their friends from
          Instagram by logging in through their accounts. The app leverages the
          Selenium library in Python for web scraping automation.
        </p>
        <p>
          My web app offers a seamless user experience, enabling users to
          conveniently retrieve their friends' photos without hassle. By
          integrating Selenium's capabilities, I have automated the process of
          logging in and navigating Instagram, making it easier for users to
          access the desired photos.
        </p>
      </section>
      <section>
        <h2>Skills</h2>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Flask</li>
          <li>Selenium</li>
          <li>Automation</li>
          <li>Data Scraping</li>
        </ul>
      </section>
      <section>
        <h2>Experience</h2>
        <p>I have developed various web applications, including:</p>
        <ul>
          <li>Flask web app for Instagram photo scraping</li>
          <li>E-commerce websites using HTML, CSS, and JavaScript</li>
          <li>Scraped Data form IMDB</li>
          <li>Developed some basic Machine learing model</li>
        </ul>
      </section>
      <section>
        <h2>Contact Me</h2>
        <p>
          If you have any questions, suggestions, or feedback, please don't
          hesitate to reach out:
        </p>
        <ul>
          <li>Email: ayushashu892@gmail.com</li>
          <li>linkedin: linkedin.com/in/agarwal2001</li>
        </ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Ayush Agarwal. All rights reserved.</p>
    </footer>
  </body>
</html>
